{% extends 'page.html.twig' %}

{% block content %}
	<div id="aboutus">
		<h2 class="title-about-us">A propos de nous</h2>

		{% block modal %}
			{% include "includes/_modal.html.twig" with {'ckeditors': ckeditors} %}
		{% endblock %}

		<div class="card">
			<div class="card-header">
				<h3>Membres</h3>
			</div>
			<div class="card-body">
				<div class="members-container">
					{% for member in members %}
						<div class="profil">
							<div class="member-profil-container">
								<img src="{{ asset('imagesTest/' ~ member.profil)}}" alt="Membre">
							</div>
							<div class="member-infos">
								<h3>{{ member.firstName ~ ' ' ~ member.lastName}}</h3>
								<p>{{ member.function }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{% for ckeditor in ckeditors %}
			{% if (ckeditor.zone == "actions") %}
				<div class="card">
					<div class="card-header">
						<h3>Actions menées par le CSE</h3>
						<button class="modal-open">Voir le règlement</button>
					</div>
					<div class="card-body">
						<p>{{ ckeditor.content|raw }}</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
