{% extends "page.html.twig" %}

{% block title %}
	CSE - Accueil
{% endblock %}

{% block content %}
	<div id="homepage">
		<h1>CSE - Saint-Vincent</h1>

		{% if ckeditor != null %}
			<div class="card">{{ ckeditor[0].content|raw }}</div>
		{% endif %}

		<h2>Dernières offres limitées</h2>

		{% block paging %}
			{% include "includes/_paging.html.twig" %}
			{# the script is placed after the creation of the offers #}
		{% endblock %}

		{% if ticketing != null %}
			{% for offer in ticketing %}
				<div class="card card-paging">
					<div class="card-header">
						<span class="card-tag">offre
							{{ offer.type }}
						</span>
						<span class="card-date">Publié le
							{{ offer.dateCreate|format_datetime(locale='fr', pattern='dd MMMM')}}
							- Du
							{{ offer.dateStart|date('d/m/Y')}}
							Au
							{{ offer.dateEnd|date('d/m/Y')}}</span>
					</div>
					<div class="card-body">
						<h3>{{offer.name}}</h3>
						<p>{{offer.text}}</p>
					</div>
					<div class="card-footer">
						<a href="{{ path('offer', {slug: offer.slug}) }}">
							<p>en savoir plus</p>
							<img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
						</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}

		<script src="{{ asset('js/paging.js') }}"></script>

	</div>
{% endblock %}
