{% extends "page.html.twig" %}

{% block content %}
	<div id="homepage">

		{% if ckeditor != null %}
			<div class="card">{{ ckeditor[0].contentCkeditor }}</div>
		{% endif %}

		<h2>Dernières offres ponctuelles</h2>

		{% block paging %}
			{% include "includes/_paging.html.twig" %}
			{# the script is placed after the creation of the offers #}
		{% endblock %}

		{% if ticketing != null %}
			{% for offer in ticketing %}
				<div class="card card-paging">
					<div class="card-header">
						<span class="card-tag">offre
							{{ offer.typeTicketing }}
						</span>
						<span class="card-date">Publié le
							{{ offer.dateCreateTicketing|format_datetime(locale='fr', pattern='dd MMMM')}}
							- Du
							{{ offer.dateStartTicketing|date('d/m/Y')}}
							Au
							{{ offer.dateEndTicketing|date('d/m/Y')}}</span>
					</div>
					<div class="card-body">
						<h3>{{offer.nameTicketing}}</h3>
						<p>{{offer.textTicketing}}</p>
					</div>
					<div class="card-footer">
						<a href="{{ path('offer', {id: offer.idTicketing}) }}">
							<p>en savoir plus</p>
							<img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
						</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}

		<script src="{{ asset('js/paging.js') }}"></script>

	</div>
{% endblock %}
