{% extends "page.html.twig" %}

{% block content %}
	<div id="homepage">
		<div class="card">CKEditor</div>
		<h2>Dernières offres ponctuelles</h2>
		{% for i in 0..2 %}
			<div class="card">
				<div class="card-header">
					<span class="card-tag">offre ponctuelle</span>
					<span class="card-date">Publié le
						{{ ticketing[i].dateCreateTicketing|format_datetime(locale='fr', pattern='dd MMMM')}}
						- Du
						{{ ticketing[i].dateStartTicketing|date('d/m/Y')}}
						Au
						{{ ticketing[i].dateEndTicketing|date('d/m/Y')}}</span>
				</div>
				<div class="card-body">
					<h3>{{ticketing[i].nameTicketing}}</h3>
					<p>{{ticketing[i].textTicketing}}</p>
				</div>
				<div class="card-footer">
					<a href="">
						<p>en savoir plus</p>
						<img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
