{% extends "page.html.twig" %}

{% block title %}
	CSE - Accueil
{% endblock %}

{% block content %}
	<div id="homepage">
		<h1>CSE - Saint-Vincent</h1>

		{% if ckeditor != null %}
			<div class="card">{{ ckeditor[0].content|raw }}</div>
		{% endif %}

		<h2>Dernières offres limitées</h2>

		{% block paging %}
			{% include "includes/_paging.html.twig" %}
			{# script placé à la fin car les offres ne sont pas encore crées ici #}
		{% endblock %}

		{% if ticketing is not null and ticketing is not empty %}
			{% for offer in ticketing %}
				<div class="card card-paging">
					<div class="card-header">
						<span class="card-tag">offre
							{{ offer.type }}
						</span>
						<span class="card-date">Publié le
							{{ offer.dateCreate|format_datetime(locale='fr', pattern='dd MMMM')}}
							- Du
							{{ offer.dateStart|date('d/m/Y')}}
							Au
							{{ offer.dateEnd|date('d/m/Y')}}</span>
					</div>
					<div class="card-body">
						<h3>{{offer.name}}</h3>
						<p>{{offer.text}}</p>
					</div>
					<div class="card-footer">
						<a href="{{ path('offer', {slug: offer.slug}) }}">
							<p>en savoir plus</p>
							<img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
						</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div
				class="card">
				{# <div class="card-image">
													<img src={{ asset('images/no-offer.svg') }} alt="image pour aucune offre">
												</div> #}
				<div class="card-content">
					<div class="card-header">
						<span class="card-tag">OFFRE LIMITEE</span>
						<span class="card-date">Publié le 00/00/0000 - Du 00/00/0000 au 00/00/0000</span>
					</div>
					<div class="card-body">
						<h3>Aucune offre limitée disponible pour le moment</h3>
						<p class="card-description-ticketing">Inscrivez-vous à la newlestter pour être informé lors de l'arrivée d'une offre limitée</p>
						<p>Nombre de place minimum requis : 0</p>

					</div>
					<div class="card-footer">{# {{ render(controller('App\\Controller\\HomeController::formNewsletter')) }} #}
						{# </a> #}
					</div>
				</div>
			</div>
		{% endif %}

		<script src="{{ asset('js/paging.js') }}"></script>

	</div>
{% endblock %}
