{% extends "backoffice-page.html.twig" %}

{% block title %}
	CSE - Backoffice textes enrichis
{% endblock %}

{% block content %}
	<div id="texts">
		<h1>Gestions des textes enrichis</h1>
		{{ form_start(form) }}
		<div class="card">
			<h2>{{ form_label(form.email) }}</h2>
			{{ form_widget(form.email, {'value': texts['email'].content}) }}
		</div>
		<div class="card">
			<h2>{{ form_label(form.homepage) }}</h2>
			{{ form_widget(form.homepage, {'value': texts['homepage'].content}) }}
		</div>
		<div class="card">
			<h2>{{ form_label(form.actions) }}</h2>
			{{ form_widget(form.actions, {'value': texts['actions'].content}) }}
		</div>
		<div class="card">
			<h2>{{ form_label(form.rules) }}</h2>
			{{ form_widget(form.rules, {'value': texts['rules'].content}) }}
		</div>
		{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-edit'}}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
