{% extends 'page.html.twig' %}

{% block title %}
	CSE - Billetterie
{% endblock %}

{% block content %}

	<div id="ticketing">

		<div class="div-title-ticketing">

			<h1 class="title-ticketing">Offres</h1>
			<ul class="ul-ticketing">

				<li class="ticketing-permanent-button li-ticketing li-ticketing-active">Permanentes</li>
				<li class="separator-ticketing">|</li>
				<li class="ticketing-limited-button li-ticketing">Limitées</li>

				<div class="ticketing-underline"></div>
			</ul>

		</div>

		<div class="div-ticketing">

			<div class="div-ticketing-permanent">

				{% block paging %}
					{% include "includes/_paging.html.twig" with {nbPage: nbPagePermanent} %}
					{# script placé à la fin car les offres ne sont pas encore crées ici #}
				{% endblock %}

				{% if ticketingsPermanent is empty %}
					<div class="card">
						<div class="card-body">
							<div class="card-image">
								<img src={{ asset('images/required/no-offer.svg') }} alt="image pour aucune offre">
							</div>
							<div class="card-content">
								<h3>Aucune offre permanent disponible pour le moment</h3>
								<p class="card-description-ticketing">Inscrivez-vous à la newlestter pour être informé lors de l'arrivée d'une offre permanente</p>
							</div>
						</div>
					</div>
				{% else %}

					{% for ticketingPermanent in ticketingsPermanent %}
						<div class="card card-paging-multiple card-paging-1">
							<div class="card-body">
								<div class="card-image">
									<img src={{ asset('images/ticketing/' ~ ticketingPermanent.imageTicketings[0].name) }} alt="{{ ticketingPermanent.name }}">
								</div>
								<div class="card-content">
									<span class="card-tag">offre
										{{ ticketingPermanent.type }}
									</span>
									<p class="card-date">Publié le
										{{ ticketingPermanent.dateCreate|format_datetime(locale='fr', pattern='dd MMMM')}}
										- Du
										{{ ticketingPermanent.dateStart|date('d/m/Y')}}
										au
										{{ ticketingPermanent.dateEnd|date('d/m/Y')}}
									</p>
									<h3>{{ ticketingPermanent.name }}</h3>
									<p class="card-description-ticketing">{{ ticketingPermanent.text }}</p>
									<p>Nombre de places minimum requis :
										{{ ticketingPermanent.numberMinPlace }}.
									</p>
								</div>
							</div>
							<div class="card-footer">
								<a href="{{ path('offer', {slug: ticketingPermanent.slug}) }}">
									<p>En savoir plus</p>
									<img src="{{ asset('images/required/left-chevron.svg')}}" alt="chevron">
								</a>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>

			<div class="div-ticketing-limited">

				{% block paging_2 %}
					{% include "includes/_paging.html.twig" with {nbPage: nbPageLimited}%}
					{# script placé à la fin car les offres ne sont pas encore crées ici #}
				{% endblock %}

				{% if ticketingsLimited is empty %}
					<div class="card">
						<div class="card-body">
							<div class="card-image">
								<img src={{ asset('images/required/no-offer.svg') }} alt="image pour aucune offre">
							</div>
							<div class="card-content">
								<h3>Aucune offre limitée disponible pour le moment</h3>
								<p class="card-description-ticketing">Inscrivez-vous à la newlestter pour être informé lors de l'arrivée d'une offre limitée</p>
							</div>
						</div>
					</div>
				{% else %}

					{% for ticketingLimited in ticketingsLimited %}

						<div class="card card-paging-multiple card-paging-2">
							<div class="card-body">
								<div class="card-image">
									<img src={{ asset('images/ticketing/' ~ ticketingLimited.imageTicketings[0].name) }} alt="{{ ticketingLimited.name }}">
								</div>
								<div class="card-content">
									<span class="card-tag">offre
										{{ ticketingLimited.type }}
									</span>
									<p class="card-date">Publié le
										{{ ticketingLimited.dateCreate|format_datetime(locale='fr', pattern='dd MMMM')}}
										- Du
										{{ ticketingLimited.dateStart|date('d/m/Y')}}
										au{{ ticketingLimited.dateEnd|date('d/m/Y')}}
									</p>
									<h3>{{ ticketingLimited.name }}</h3>
									<p class="card-description-ticketing">{{ ticketingLimited.text }}</p>
								</div>
							</div>
							<div class="card-footer">
								<a href="{{ path('offer', {slug: ticketingLimited.slug}) }}">
									<p>En savoir plus</p>
									<img src="{{ asset('images/required/left-chevron.svg')}}" alt="chevron">
								</a>
							</div>
						</div>

					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

	<script src="{{ asset('js/handleTypeTicketing.js') }}"></script>
	<script src="{{ asset('js/paging.js') }}"></script>

{% endblock %}
