{% extends 'page.html.twig' %}

{% block content %}

<div class="ticketing">

    <div class="div-title-ticketing">

        <h2 class="title-ticketing">Offres</h2>
        <ul class="ul-ticketing">

            <li class="ticketing-all-button li-ticketing li-ticketing-active">Toutes</li>
            <li class="separator-ticketing">|</li>
            <li class="ticketing-permanent-button li-ticketing">Permanentes</li>
            <li class="separator-ticketing">|</li>
            <li class="ticketing-limited-button li-ticketing">Limitées</li>

            <div class="ticketing-underline"></div>
        </ul>

    </div>

    <div class="div-ticketing">

        <div class="div-ticketing-permanent">

            {% for ticketingPermanent in ticketingsPermanent %}

            <div class="card">

                <div class="card-image">

                    {% if ticketingPermanent.imageTicketings[0].Ticketing.idTicketing == ticketingPermanent.idTicketing
                    %}

                    <img src={{ asset('imagesTest/' ~ ticketingPermanent.imageTicketings[0].nameImageTicketing) }}
                        alt="">

                    {% endif %}

                </div>

                <div class="card-content">

                    <div class="card-header">

                        <span class="card-tag">offre
                            {{ ticketingPermanent.typeTicketing }}
                        </span>
                        <span class="card-date">Publié le
                            {{ ticketingPermanent.dateCreateTicketing|format_datetime(locale='fr', pattern='dd MMMM')}}
                            - Du
                            {{ ticketingPermanent.dateStartTicketing|date('d/m/Y')}}
                            au
                            {{ ticketingPermanent.dateEndTicketing|date('d/m/Y')}}</span>

                    </div>

                    <div class="card-body">

                        <p>{{ ticketingPermanent.nameTicketing }}</p>
                        <p class="card-description-ticketing">{{ ticketingPermanent.textTicketing }}</p>
                        <p>Le nombre de place minimum requis est {{ ticketingPermanent.numberMinPlaceTicketing }}.</p>

                    </div>

                    <div class="card-footer">

                        <a href="{{ path('offer', {id: ticketingPermanent.idTicketing}) }}">
                            <p>En savoir plus</p>
                            <img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
                        </a>

                    </div>

                </div>
            </div>

            {% endfor %}

        </div>

        <div class="div-ticketing-limited">

            {% for ticketingLimited in ticketingsLimited %}

            <div class="card">

                <div class="card-image">

                    {% if ticketingLimited.imageTicketings[0].Ticketing.idTicketing == ticketingLimited.idTicketing
                    %}

                    <img src={{ asset('imagesTest/' ~ ticketingLimited.imageTicketings[0].nameImageTicketing) }} alt="">

                    {% endif %}

                </div>

                <div class="card-content">

                    <div class="card-header">

                        <span class="card-tag">offre
                            {{ ticketingLimited.typeTicketing }}
                        </span>
                        <span class="card-date">Publié le
                            {{ ticketingLimited.dateCreateTicketing|format_datetime(locale='fr', pattern='dd MMMM')}}
                            - Du
                            {{ ticketingLimited.dateStartTicketing|date('d/m/Y')}}
                            au
                            {{ ticketingLimited.dateEndTicketing|date('d/m/Y')}}</span>

                    </div>

                    <div class="card-body">

                        <p class="card-description-ticketing">{{ ticketingLimited.textTicketing }}</p>

                    </div>

                    <div class="card-footer">

                        <a href="{{ path('offer', {id: ticketingLimited.idTicketing}) }}">
                            <p>En savoir plus</p>
                            <img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
                        </a>

                    </div>

                </div>
            </div>

            {% endfor %}

        </div>

    </div>
</div>

<script src="{{ asset('js/ticketing.js') }}"></script>

{% endblock %}