{% extends "page.html.twig" %}

{% block title %}
	CSE -
	{{ offer.name }}
	- Offre
	{{ offer.type }}
{% endblock %}

{% block content %}
	<div id="offer">
		<h1>{{ offer.name }}
			- Offre
			{{ offer.type }}</h1>
		<div class="card">
			<div class="card-header">
				{% if offer.partnership.image is defined and offer.partnership.image is not null %}
					<div class="offer-card-img-partnership">
						<img src="{{ asset('images/partnership/' ~ offer.partnership.image) }}" alt="image offer">
					</div>
				{% endif %}
				<div class="offer-card-date">
					<span>
						Publié le
						{{ offer.dateCreate|format_datetime(locale='fr', pattern='dd MMMM')}}
					</span>
					Disponible du
					{{ offer.dateStart|date('d/m/Y')}}
					au
					{{ offer.dateEnd|date('d/m/Y')}}
				</div>
				<div class="offer-card-place">
					{% if offer.type == "permanente" %}
						Nombre de place minimum à prendre :
						{{ offer.numberMinPlace }}
					{% endif %}
				</div>
			</div>
			<div class="card-body">
				<h3>Description</h3>
				<p>{{offer.text}}</p>
				<div class="offer-card-showroom">
					{% for img in imgOffer %}
						<img src="{{ asset('images/ticketing/' ~ img.name) }}" alt="image offer">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
