{% extends "page.html.twig" %}

{% set months = {
	'January': 'Janvier',
	'February': 'Février',
	'March': 'Mars',
	'April': 'Avril',
	'May': 'Mai',
	'June': 'Juin',
	'July': 'Juillet',
	'August': 'Août',
	'September': 'Septembre',
	'October': 'Octobre',
	'November': 'Novembre',
	'December': 'Décembre'
} %}

{% block title %}
	CSE -
	{{ offer.name }}
	- Offre
	{{ offer.type }}
{% endblock %}

{% block content %}
	<div id="offer">
		<h1>{{ offer.name|html_entity_decode }}
			- Offre
			{{ offer.type }}</h1>
		<div class="card">
			<div class="card-header">
				{% if offer.partnership.image is defined and offer.partnership.image is not null %}
					<div class="offer-card-img-partnership">
						<img src="{{ asset('images/partnership/' ~ offer.partnership.image|html_entity_decode ) }}" alt="image offer">
					</div>
				{% endif %}
				<div class="offer-card-date">
					<span>
						Publié le
						{{ offer.dateCreate|date('d') ~ ' ' ~ months[offer.dateCreate|format_datetime(pattern='MMMM')] }}
					</span>
					Disponible du
					{{ offer.dateStart|date('d/m/Y')}}
					au
					{{ offer.dateEnd|date('d/m/Y')}}
				</div>
				<div class="offer-card-place">
					{% if offer.type == "permanente" %}
						Nombre de places minimum à prendre :
						{{ offer.numberMinPlace }}
					{% endif %}
				</div>
			</div>
			<div class="card-body">
				<h3>Description</h3>
				<p>{{offer.text|html_entity_decode }}</p>
				<div class="offer-card-showroom">
					{% for img in imgOffer %}
						<img src="{{ asset('images/ticketing/' ~ img.name|html_entity_decode ) }}" alt="image offer">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
