{% extends "page.html.twig" %}

{% block content %}
	<div id="offer">
		<h2>{{ offer.name }}
			- Offre
			{{ offer.type }}</h2>
		<div class="card">
			<div class="offer-card-header">
				<div class="offer-card-date">
					<span>
						Publié le
						{{ offer.dateCreate|format_datetime(locale='fr', pattern='dd MMMM')}}
					</span>
					Disponible du
					{{ offer.dateStart|date('d/m/Y')}}
					au
					{{ offer.dateEnd|date('d/m/Y')}}
				</div>
				<div class="offer-card-img-partnership">
					{% if offer.partnership.image is defined and offer.partnership.image is not null %}
						<img src="{{ asset('imagesTest/' ~ offer.partnership.image) }}" alt="image offer">
					{% endif %}
				</div>
			</div>
			<div class="offer-card-place">Nombre de place minimum à prendre :
				{{ offer.numberMinPlace }}
			</div>
			<div class="offer-card-body">
				<h3>Description</h3>
				<p>{{offer.text}}</p>
			</div>
			<div class="offer-card-footer">
				{% for img in imgOffer %}
					<img src="{{ asset('imagesTest/' ~ img.name) }}" alt="image offer">
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
