{% extends "page.html.twig" %}

{% block title %}
	CSE - Contact
{% endblock %}

{% block content %}
	<div id="contact">
		<h1>Contactez-nous</h1>
		<div class="card">
			<div class="contact-flex">
				<div class="contact-img">
					<img src="{{ asset('images/required/lyceestvincent.png') }}" alt="image du lycée st-vincent">
				</div>
				<div class="contact-header">
					<ul>
						<li>
							Par téléphone :
							{{ sideCkeditors['phone']|raw }}
						</li>
						<li>
							Par mail :
							{{ sideCkeditors['email']|raw }}
						</li>
						<li>
							Au lycée :
							{{ sideCkeditors['place']|raw }}
						</li>
					</ul>
					<div class="contact-form">
						{{ render(controller('App\\Controller\\HomeController::formContact')) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
