{% extends 'backoffice-page.html.twig' %}

{% block title %}
	CSE - Backoffice stats sondages
{% endblock %}

{% block content %}
	<div id="backoffice-survey">

		{% block modal %}

			{% include "includes/_modal.html.twig" with {
				type: 'add',
				title: 'Attention, ajout en cours !', 
				content: 
					"<p class='modal-question'>Vous êtes sur le point d'ajouter un sondage : </p>" ~ 
					"<div class='post-content'>" ~ 
						"<p class='modal-recap add-survey-question'></p>" ~ 
						"<p class='modal-recap add-survey-responses'></p>" ~ 
					"</div>" ~ 
					"<p class='modal-question'><b>Cette action provoquera l'archivage du sondage actif cloturant les résultats des votes.</b>" ~
					"<p class='modal-question'>Êtes-vous sûr de vouloir ajouter ce sondage ?</p>"
				, 
				options: {
					cancelButton: true,
					addButton: true
				}
			} %}

			{% include "includes/_modal.html.twig" with {
				type: 'edit',
				title: 'Attention, archivage en cours !', 
				content: 
					"<p class='modal-question'>Vous êtes sur le point de modifier le sondage : </p>" ~ 
					"<div class='post-content'>" ~ 
						"<p class='modal-recap edit-survey-question'></p>" ~ 
					"</div>" ~
					"<p class='modal-question'><b>Cette action provoquera l'archivage du sondage actif cloturant les résultats des votes.</b>" ~
					"<p class='modal-question'>Êtes-vous sûr de vouloir archiver ce sondage ?</p>"
				, 
				options: {
					cancelButton: true,
					editButton: true
				}
			} %}

			{% include "includes/_modal.html.twig" with {
				type: 'delete',
				title: 'Attention, suppression en cours !', 
				content: 
					"<p class='modal-question'>Vous êtes sur le point de supprimer le sondage : </p>" ~ 
					"<div class='post-content'>" ~ 
						"<p class='modal-recap delete-survey-question'></p>" ~ 
					"</div>" ~
					"<p class='modal-question'><b>Cette action est irréversible et les données relative récoltées à ce sondage seront écrasées</b>" ~
					"<p class='modal-question'>Êtes-vous sûr de vouloir supprimer ce sondage ?</p>"
				, 
				options: {
					cancelButton: true,
					deleteButton: true
				}
			} %}

		{% endblock %}

		<h1>Gestion des sondages</h1>
		<div class="add-survey">
			<h2>Ajouter un sondage</h2>
			<div class="card">
				{{ form_start(addForm, {'attr': {'class': 'add-form'}}) }}
				<div class="card-body">
					<div class="card-image">
						<div>
							<canvas class="chart-add-survey"></canvas>
						</div>
					</div>
					<div class="card-content">
						<div class="new-question">
							{{ form_widget(addForm.question) }}
						</div>
						<div class="responses">
							<ul>
								<li>
									<div class="response">
										{{ form_widget(addForm.response_1) }}
									</div>
								</li>
								<li>
									<div class="response">
										{{ form_widget(addForm.response_2) }}
									</div>
								</li>
							</ul>
							<div class="add-response">
								<span>+</span>
								Ajouter une réponse
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button class='btn btn-edit btn-add modal-open-add'>Ajouter</button>
				</div>
				{{ form_end(addForm, {'render_rest': false}) }}
			</div>
		</div>

		<div class="surveys">
			<h2>Statistiques des sondages</h2>

			{% for key, survey in surveys %}

				<div class="card">
					<div class="card-header">
						{% if survey.isActive %}
							{{ form_start(editForm, {'attr': {'class': 'edit-form'}}) }}
							{{ form_widget(editForm.id, { 'value': survey.id, 'disabled': false }) }}
							{{ form_widget(editForm.question, { 'attr': { class: 'form-input-hidden' }, 'value': survey.question, 'disabled': false }) }}
							{{ form_end(editForm, {'render_rest': false})}}
							<span class="card-tag">Sondage actif</span>
							<span class="card-date modal-open-edit">-- Archiver le sondage --</span>
						{% else %}
							<span class="card-tag">Sondage archivé</span>
						{% endif %}
					</div>

					<div class="card-body">
						<div class="card-image">
							<div>
								<canvas class="chart"></canvas>
							</div>
						</div>
						<div class="card-content">
							<h2 class="question">{{ survey.question }}</h2>
							<ul>
								{% for index, response in responses[survey.id] %}

									<li>
										{# + 1 car index commence à 0 #}
										<div class="survey-response-{{index + 1}} survey-response">
											<div class="label"></div>
											<p>
												{{ response.text }}
											</p>
											<span class="result-response">
												{% if survey.nbVote == 0 %}
													0%
												{% else %}
													{{ response.nbVote * 100 // survey.nbVote }}%
												{% endif %}
											</span>
										</div>
									</li>
								{% endfor %}
							</ul>
							<div class="info-survey">
								<p>
									Sondage créé le
									{{ survey.datetime|date('d/m/Y') }}
								</p>
								<p>
									<span class="total-response">{{ survey.nbVote }}</span>
									réponses au total
								</p>
							</div>

						</div>
					</div>

					{% if survey.isActive == false %}
						<div class="card-footer">
							{{ form_start(deleteForms[key], {'attr': {'class': 'delete-form'}}) }}
							{{ form_widget(deleteForms[key].id, { 'value': survey.id, 'disabled': false }) }}
							{{ form_widget(deleteForms[key].question, { 'attr': { class: 'form-input-hidden' }, 'value': survey.question, 'disabled': false }) }}
							<button class='btn btn-delete modal-open-delete'>Supprimer</button>
							{{ form_end(deleteForms[key], {'render_rest': false})}}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>

	<script src="{{ asset('js/handleResponseSurvey.js') }}"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{{ asset('js/chartDonut.js') }}"></script>
	<script src="{{ asset('js/chartAddSurvey.js') }}"></script>

{% endblock %}

{% block request %}
	<script src="{{ asset('js/request/survey.js') }}"></script>
{% endblock %}
