{% extends 'backoffice-page.html.twig' %}

{% block content %}
	<div id="backoffice-survey">
		<h2>Statistique des sondages</h2>

		{# initialise une variable unique_questions à un tableau vide qui sera utilisé pour stocker chaque question unique une seule fois #}
		{% set unique_questions = [] %}

		{% for question in questions %}
			{# vérifie si la question a déjà été ajoutée à la liste unique_questions #}
			{% if question not in unique_questions %}
				{# si la question n'a pas encore été ajoutée, elle est ajoutée à la liste unique_questions #}
				{% set unique_questions = unique_questions|merge([question]) %}

				<div class="card">
					<div class="card-body">
						<div class="card-image">
							<div>
								<canvas class="chart" data-question="{{ question.question }}"></canvas>
							</div>
						</div>
						<div class="card-content">
							<h2 class="question">{{ question.question }}</h2>
							<ul>
								{% set i = 1 %}
								{% for response in responses %}
									{# vérifie si la réponse correspond à la question #}
									{% if response.question == question.question %}
										<li>
											<div class="survey-response-{{i}} survey-response">
												<div class="label"></div>
												<p>
													{{ response.text }}
												</p>
												<span class="resultResponse">
													{{ response.responses * 100 // question.total_responses }}
													%
													{# ({{ response.responses }}
																																																																																																																																																																																																																																																																																																																																																																																																																			{% if response.responses > 1 %}
																																																																																																																																																																																																																																																																																																																																																																																																																				votes)
																																																																																																																																																																																																																																																																																																																																																																																																																			{% else %}
																																																																																																																																																																																																																																																																																																																																																																																																																				vote)
																																																																																																																																																																																																																																																																																																																																																																																																																			{% endif %} #}
												</span>
											</div>
										</li>
										{% set i = i + 1 %}
									{% endif %}
								{% endfor %}
							</ul>
							<div class="info-survey">
								<p>
									Sondage crée le
									{{ question.datetime|date('d/m/Y') }}
								</p>
								<p>
									{{ question.total_responses }}
									réponses au total
								</p>
							</div>

						</div>
					</div>
					<div class="card-footer"></div>
				</div>
			{% endif %}
		{% endfor %}


	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		// on récupère les réponses depuis le twig converties en json
const responses = JSON.parse('{{ responses_json|e('js') }}');
const charts = document.querySelectorAll('.chart');

charts.forEach(chart => {
const question = chart.dataset.question;
// on va créer un tableau qui va contenir uniquement les réponses qui sont associé à la question
const questionResponses = responses.filter(response => response.question === question);

// la fonction map va permettre de recupérer le text de chaque objet et de placer ce text dans un tableau
const data = { // labels: questionResponses.map(response => response.text),
datasets: [
{ // labels: question,
data: questionResponses.map(response => response.responses),
label: [' Nombre de vote '],
backgroundColor: [
'#36a2eb',
'#ff6384',
'#4bc0c0',
'#ff9f40',
'#9966ff',
'#ffcd56',
'#c9cbcf'
],
// plus c'est grand plus ça met de l'espace entre chaque section du grave au hover
hoverOffset: 5
}
]


};

new Chart(chart, {
type: 'doughnut',
data: data,
// options: {
// interaction: {
// enabled: false
// /},
// pour retirer le hover
// interaction: {mode: null},
// }
});
});
	</script>

{% endblock %}
