{% block sidebar %}
    <div class="sidebar">
        <div class="sidebar-flex">
            <div class="sidebar-servey">
                <h2>Votre avis compte</h2>
                <form action="" method="post">
                    <legend>Pour quel parc d'attraction souhaiteriez-vous obtenir des prix ?</legend>
                    <div class="response">
                        <input type="radio" id="radio_1" name="radio_response" value="1">
                        <label for="radio_1">Le parc Astérix</label>
                    </div>
                    <div class="response">
                        <input type="radio" id="radio_2" name="radio_response" value="2">
                        <label for="radio_2">Le parc Disneyland</label>
                    </div>
                    <div class="response">
                        <input type="radio" id="radio_3" name="radio_response" value="3">
                        <label for="radio_3">Le Futuroscope</label>
                    </div>
                    <button type="submit">Envoyer ma réponse</button>
                </form>
            </div>
            <div class="sidebar-access">
                <h2>Accés rapide</h2>
                <ul>
                    <li>
                         <a href="{{ path("ticketing") }}">Offres permanentes / Billeterie</a>
                    </li>
                    <li>
                         <a href="{{ path("contact") }}">Nous contacter</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-contact">
                <h2>Informations de contact</h2>
                <ul>
                    <li>
                         Par téléphone : <a href="tel:+33303030303">+33303030303</a>
                    </li>
                    <li>
                         Par mail : <a href="mailto:cse@lyceestvincent.fr">cse@lyceestvincent.fr</a>
                    </li>
                    <li>
                        Au lycée : Bureau du CSE - 1er étage bâtiment Saint-Vincent
                    </li>
                </ul>
            </div>
            <div class="sidebar-slider">
                <h2>Nos partenaires</h2>
                <div class="slider">
                    <div class="slider-image">
                        <img src="{{ asset("images/Leonidas.svg") }}">
                    </div>
                    <div class="slider-image">
                        <img src="{{ asset("images/starbucks.png") }}">
                    </div>
                    <div class="slider-image">
                        <img src="{{ asset("images/LEGO_logo.png") }}">
                    </div>
                    <img class="prev" src="{{ asset("images/slider-arrow-left.svg") }}" alt="arrow direction slider">
                    <img class="next" src="{{ asset("images/slider-arrow-right.svg") }}" alt="arrow direction slider">
                </div>
                <p>
                    <a href="{{ path("partnership") }}">Découvrir tous nos partenaires</a>
                </p>
                {% block javascripts %}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
                    <script src="{{ asset('js/slider.js') }}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}