{% extends "page.html.twig" %}

{% block title %}
	CSE - Partenariats
{% endblock %}

{% block content %}
	{% if partnerships %}
		<div id="partnership">
			<h1>Partenariats</h1>
			{% for partnership in partnerships %}
				<div class="card">
					<div class="card-body">
						<div class="card-image">
							{% if partnership.image is null %}
								<img src="{{ asset('images/no-image-partnership.svg')}}" alt="{{ partnership.name }}">
							{% else %}
								<img src="{{ asset('imagesTest/' ~ partnership.image)}}" alt="{{ partnership.name }}">
							{% endif %}
						</div>
						<div class="card-content">
							<h3>{{ partnership.name }}</h3>
							<p>{{ partnership.description }}</p>
						</div>
					</div>
					<div class="card-footer">
						<a href="{{ partnership.link }}" target="_blanck">
							<p>Consulter le site du partenaire</p>
							<img src="{{ asset('images/left-chevron.svg')}}" alt="chevron">
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
