{% extends 'backoffice-page.html.twig' %}

{% block title %}
	CSE - Backoffice gestion de la billeterie
{% endblock %}

{% block content %}
	<div id="backoffice-ticketing">
		{% block modal %}
			{% include "includes/_modal.html.twig" with {
				type: 'add',
				title: 'Attention, ajout en cours !',
				content:
				"<p class='modal-question'>Vous êtes sur le point d'ajouter l'offre : </p>" ~
				"<div class='post-content'>" ~
					"<p class='modal-recap add-offer-type'></p>" ~
					"<p class='modal-recap add-offer-name'></p>" ~
					"<p class='modal-recap add-offer-text'></p>" ~
					"<p class='modal-recap add-offer-date-start'></p>" ~
					"<p class='modal-recap add-offer-date-end'></p>" ~
					"<p class='modal-recap add-offer-number-min'></p>" ~
					"<p class='modal-recap add-offer-order-number'></p>" ~
					"<p class='modal-recap add-offer-partnership'></p>" ~
					"<p class='modal-recap add-offer-image-1'></p>" ~
					"<p class='modal-recap add-offer-image-2'></p>" ~
					"<p class='modal-recap add-offer-image-3'></p>" ~
					"<p class='modal-recap add-offer-image-4'></p>" ~
				"</div>" ~
				"<p class='modal-question'>Êtes-vous sûr de vouloir ajouter cette offre ?</p>"
				,
				options: {
				cancelButton: true,
				addButton: true
				}
			} %}

			{% include "includes/_modal.html.twig" with {
				type: 'edit',
				title: 'Attention, modification en cours !',
				content:
				"<p class='modal-question'>Vous êtes sur le point de modifier l'offre : </p>" ~
				"<div class='post-content'>" ~
					"<p class='modal-recap edit-offer-name'></p>" ~
					"<p class='modal-recap edit-offer-text'></p>" ~
					"<p class='modal-recap edit-offer-date-start'></p>" ~
					"<p class='modal-recap edit-offer-date-end'></p>" ~
					"<p class='modal-recap edit-offer-number-min'></p>" ~
					"<p class='modal-recap edit-offer-order-number'></p>" ~
					"<p class='modal-recap edit-offer-partnership'></p>" ~
					"<p class='modal-recap edit-offer-image-1'></p>" ~
					"<p class='modal-recap edit-offer-image-2'></p>" ~
					"<p class='modal-recap edit-offer-image-3'></p>" ~
					"<p class='modal-recap edit-offer-image-4'></p>" ~
				"</div>" ~
				"<p class='modal-question'>Êtes-vous sûr de vouloir modifier cette offre ?</p>"
				,
				options: {
				cancelButton: true,
				editButton: true
				}
			} %}

			{% include "includes/_modal.html.twig" with {
				type: 'delete',
				title: 'Attention, suppression en cours !',
				content:
				"<p class='modal-question'>Vous êtes sur le point de supprimer l'offre : </p>" ~
				"<div class='post-content'>" ~
					"<p class='modal-recap delete-offer-name'></p>" ~
				"</div>" ~
				"<p class='modal-question'>Êtes-vous sûr de vouloir supprimer cette offre ?</p>"
				,
				options: {
				cancelButton: true,
				deleteButton: true
				}
			} %}
		{% endblock %}

		<h1>Gestion des offres</h1>
		<h2>Ajouter une nouvelle offre</h2>
		<div class="add-offer">
			<div class="card">
				<div class="card-header">
					<h3>Offre</h3>
				</div>
				{{ form_start(formAdd, {'attr': {'class': 'add-form'}}) }}
				<div class="card-body">
					<div class="card-image">
						{% set img = [formAdd.image1, formAdd.image2, formAdd.image3, formAdd.image4] %}
						{% for ind in 0..3 %}
							{# Pour le flex #}
							<div>
								<img src="{{ asset('images/required/no-image.svg') }}" alt="image de l'offre">
								{{ form_label(img[ind], 'Choisir une image', {'label_attr': {'class': 'form-file-label form-file-label-active'}}) }}
								{{ form_widget(img[ind], { 'disabled': false }) }}
							</div>
						{% endfor %}
					</div>
					<div class="card-content">
						{{ form_widget(formAdd.type, {disabled: false}) }}

						{{ form_widget(formAdd.name, {disabled: false}) }}
						{{ form_widget(formAdd.text, {disabled: false}) }}

						{{ form_label(formAdd.date_start, 'Date de début de validité :') }}
						{{ form_widget(formAdd.date_start, {disabled: false}) }}

						{{ form_label(formAdd.date_end, 'Date de fin de validité :') }}
						{{ form_widget(formAdd.date_end, {disabled: false}) }}

						{{ form_label(formAdd.partnership, 'Partenaire associé :') }}
						{{ form_widget(formAdd.partnership, {disabled: false, placeholder: 'Aucun'}) }}

						<div class="number-min">
							{{ form_label(formAdd.number_min_place, 'Places minimum :') }}
							{{ form_widget(formAdd.number_min_place, {disabled: false, required: false}) }}
						</div>

						<div class="order-number">
							{{ form_label(formAdd.order_number, "Ordre d'affichage :") }}
							{{ form_widget(formAdd.order_number, {disabled: false}) }}
						</div>

					</div>
				</div>
				<div class="card-footer">
					<button class='btn btn-edit btn-add modal-open-add'>Ajouter</button>
				</div>
				{{ form_end(formAdd, {'render_rest': false}) }}

			</div>
		</div>

		<div class="div-title-ticketing">

			<h2 class="title-ticketing">Les offres permanentes</h2>
			<ul class="ul-ticketing">

				<li class="ticketing-permanent-button li-ticketing li-ticketing-active">Permanentes</li>
				<li class="separator-ticketing">|</li>
				<li class="ticketing-limited-button li-ticketing">Limitées</li>

				<div class="ticketing-underline"></div>
			</ul>

		</div>

		<div class="offers">

			<div class="div-ticketing-permanent">

				{% for key, offer in ticketingsPermanent %}
					<div class="card">
						<div class="card-header">
							<div class="card-tag">
								Offre
								{{ offer.type }}
							</div>
						</div>
						<div class="card-body">
							{{ form_start(formEdits[key], {'attr': {'class': 'edit-form'}}) }}
							<div class="card-image">
								{% set img = [formEdits[key].image1, formEdits[key].image2, formEdits[key].image3, formEdits[key].image4] %}
								{% for ind in 0..3 %}
									<div>

										{% set imgDisplay = false %}
										{% for image in offer.imageTicketings %}
											{% if image.numero == (ind + 1) %}
												{% set imgDisplay = true %}
												<img src="{{ asset('images/ticketing/' ~ image.name) }}" alt="image de l'offre">
											{% endif %}
										{% endfor %}
										{% if not imgDisplay %}
											<img src="{{ asset('images/required/no-image.svg') }}" alt="image de l'offre">
										{% endif %}

										{{ form_label(img[ind]) }}
										{# required false pour ne pas empecher la modification quand on laisse l'image de base #}
										{{ form_widget(img[ind], {'disabled': 'disabled', 'required': false}) }}
									</div>
								{% endfor %}
							</div>
							<div class="card-content">
								{{ form_widget(formEdits[key].id, { 'value': offer.id })}}
								{{ form_row(formEdits[key].name, {value: offer.name, attr: {class: 'form-input form-input-disabled'}}) }}
								{{ form_row(formEdits[key].text, {value: offer.text, attr: {class: 'form-input form-input-disabled'}}) }}

								{{ form_label(formEdits[key].date_start, 'Date de début de validité :') }}
								{{ form_widget(formEdits[key].date_start, {value: offer.dateStart|date('Y-m-d'), attr: {class: 'form-input form-input-disabled'}}) }}

								{{ form_label(formEdits[key].date_end, 'Date de fin de validité :') }}
								{{ form_widget(formEdits[key].date_end, {value: offer.dateEnd|date('Y-m-d'), attr: {class: 'form-input form-input-disabled'}}) }}

								{{ form_row(formEdits[key].number_min_place, {value: offer.numberMinPlace, attr: {class: 'form-input form-input-disabled'}}) }}

								{% if offer.partnership is not null %}
									{{ form_row(formEdits[key].partnership, {value: offer.partnership.id, attr: {class: 'form-input form-input-disabled'}}) }}
								{% else %}
									{{ form_row(formEdits[key].partnership, {placeholder: "Aucun partenaire associé", attr: {class: 'form-input form-input-disabled'}}) }}
								{% endif %}

							</div>
							{{ form_end(formEdits[key], {'render_rest': false}) }}

							{{ form_start(formDeletes[key], {'attr': {'class': 'delete-form'}})}}
							{{ form_widget(formDeletes[key].id, { 'value': offer.id })}}
							{{ form_widget(formDeletes[key].name, { 'attr': { class: 'form-input-hidden' }, 'value': offer.name, 'disabled': false })}}
							{{ form_end(formDeletes[key], {'render_rest': false}) }}
						</div>
						<div class="card-footer">
							<button class='btn btn-edit btn-save modal-open-edit'>Sauvegarder</button>
							<button class='btn btn-edit btn-actived'>Modifier</button>
							<button class="btn btn-delete modal-open-delete">Supprimer</button>
						</div>
					</div>
				{% endfor %}

			</div>

			<div class="div-ticketing-limited">

				{% for key, offer in ticketingsLimited %}
					<div class="card">
						<div class="card-header">
							<div class="card-tag">
								Offre
								{{ offer.type }}
							</div>
						</div>
						<div class="card-body">
							{{ form_start(formEdits[key + ticketingsPermanent|length], {'attr': {'class': 'edit-form'}}) }}
							<div class="card-image">
								{% set img = [formEdits[key + ticketingsPermanent|length].image1, formEdits[key + ticketingsPermanent|length].image2, formEdits[key + ticketingsPermanent|length].image3, formEdits[key + ticketingsPermanent|length].image4] %}
								{% for ind in 0..3 %}
									<div>
										{% if offer.imageTicketings[ind] is defined %}
											<img src="{{ asset('images/ticketing/' ~ offer.imageTicketings[ind].name) }}" alt="image de l'offre">
										{% else %}
											<img src="{{ asset('images/required/no-image.svg') }}" alt="image de l'offre">
										{% endif %}
										{{ form_label(img[ind]) }}
										{{ form_widget(img[ind], {'disabled': 'disabled', 'required': false})}}
									</div>
								{% endfor %}
							</div>
							<div class="card-content">
								{{ form_widget(formEdits[key + ticketingsPermanent|length].id, { 'value': offer.id })}}
								{{ form_row(formEdits[key + ticketingsPermanent|length].name, {value: offer.name, attr: {class: 'form-input form-input-disabled'}}) }}
								{{ form_row(formEdits[key + ticketingsPermanent|length].text, {value: offer.text, attr: {class: 'form-input form-input-disabled'}}) }}

								{{ form_label(formEdits[key + ticketingsPermanent|length].date_start, 'Date de début de validité :') }}
								{{ form_widget(formEdits[key + ticketingsPermanent|length].date_start, {value: offer.dateStart|date('Y-m-d'), attr: {class: 'form-input form-input-disabled'}}) }}

								{{ form_label(formEdits[key + ticketingsPermanent|length].date_end, 'Date de fin de validité :') }}
								{{ form_widget(formEdits[key + ticketingsPermanent|length].date_end, {value: offer.dateEnd|date('Y-m-d'), attr: {class: 'form-input form-input-disabled'}}) }}

								{{ form_row(formEdits[key + ticketingsPermanent|length].order_number, {value: offer.orderNumber, attr: {class: 'form-input form-input-disabled'}}) }}

								{% if offer.partnership is not null %}
									{{ form_row(formEdits[key + ticketingsPermanent|length].partnership, {value: offer.partnership.id, attr: {class: 'form-input form-input-disabled'}}) }}
								{% else %}
									{{ form_row(formEdits[key + ticketingsPermanent|length].partnership, {placeholder: "Aucun partenaire associé", attr: {class: 'form-input form-input-disabled'}}) }}
								{% endif %}

							</div>
							{{ form_end(formEdits[key + ticketingsPermanent|length], {'render_rest': false}) }}

							{{ form_start(formDeletes[key + ticketingsPermanent|length], {'attr': {'class': 'delete-form'}})}}
							{{ form_widget(formDeletes[key + ticketingsPermanent|length].id, { 'value': offer.id })}}
							{{ form_widget(formDeletes[key + ticketingsPermanent|length].name, { 'attr': { class: 'form-input-hidden' }, 'value': offer.name, 'disabled': false })}}
							{{ form_end(formDeletes[key + ticketingsPermanent|length], {'render_rest': false}) }}
						</div>
						<div class="card-footer">
							<button class='btn btn-edit btn-save modal-open-edit'>Sauvegarder</button>
							<button class='btn btn-edit btn-actived'>Modifier</button>
							<button class="btn btn-delete modal-open-delete">Supprimer</button>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>

	<script src="{{ asset('js/imageLoader.js') }}"></script>
	<script src="{{ asset('js/handleTypeTicketing.js') }}"></script>
{% endblock %}
{% block request %}
	<script src="{{ asset('js/request/ticketing.js') }}"></script>
{% endblock %}
