{% block flash %}
	{% include "includes/_flash.html.twig" %}
{% endblock %}

<div id="navbar">
	<div class="gray"></div>

	{% if is_granted('ROLE_ADMIN') %}
		{% set back = '-backoffice' %}
	{% else %}
		{% set back = '' %}
	{% endif %}

	<div class="{{ 'blue' ~ back }}">
		<div class="navbar-content">
			<button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="line-toggler"></span>
				<span class="line-toggler"></span>
				<span class="line-toggler"></span>
			</button>
			<div class="{{ 'img-container' ~ back }}">
				<a href="{{ path('home') }}">
					<img src="{{ asset('images/logo.jpg') }}" alt="logo-SV"/>
				</a>
			</div>
			{% block menu %}
				{% if menu == 'base' %}
					{% include "includes/navbar/_navbar-menu.html.twig" %}
				{% elseif menu == 'back' %}
					{% include "includes/navbar/_navbar-backoffice-menu.html.twig" %}
				{% endif %}
			{% endblock %}
		</div>
		{% block navbarResponsive %}
			{% include "includes/navbar/_navbar-responsive.html.twig" with {'menu': menu }%}
		{% endblock %}
	</div>
</div>
<div id="{{ 'current-navigation' ~ back }}">
	{% if menu == 'base' %}
		<img src="{{ asset('images/home.svg') }}" alt="home">
	{% elseif menu == 'back' %}
		<img src="{{ asset('images/gear.svg') }}" alt="gear">
	{% endif %}
	<ul>
		{% for path in paths %}
			<li>
				<img src="{{ asset('images/left-chevron.svg') }}" alt="chevron">
				{% if path[2] is defined %}
					<a href="{{ path(path[1], {slug: path[2]}) }}">{{ path[0] }}</a>
				{% else %}
					<a href="{{ path(path[1]) }}">{{ path[0] }}</a>
				{% endif %}

			</li>
		{% endfor %}
	</ul>
</div>
