{% block navbar %}
	<div id="navbar">
		<div class="gray">
			{% include "includes/_flash.html.twig" %}
		</div>
		<div class="blue">
			<div class="navbar-content">
				<button id="navPerso-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="line-toggler"></span>
					<span class="line-toggler"></span>
					<span class="line-toggler"></span>
				</button>
				<div class="img-container">
					<a href="{{ path('home') }}">
						<img src="{{ asset('images/logo.jpg') }}" alt="logo-SV"/>
					</a>
				</div>
				{% include "includes/navbar/_navbar-menu.html.twig" %}
			</div>
			{% include "includes/navbar/_navbar-responsive.html.twig" %}
		</div>
	</div>
	<div id="current-navigation">
		<img src="{{ asset('images/home.svg') }}" alt="home">
		<ul>
			{% for path in path %}
				<li>
					<img src="{{ asset('images/left-chevron.svg') }}" alt="chevron">
					<a href="{{ path(path[1]) }}">{{ path[0] }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
