{% extends 'backoffice-page.html.twig' %}

{% block content %}

	<div id="backoffice-partnership">
		<h1>Gestion des partenaires</h1>
		<h2>Ajouter un nouveau partenaire</h2>
		<div class="add-partnership">
			<div
				class="card">
				{# form #}
				<div class="card-body">
					<div
						class="card-image">{# image et form label et widget #}
					</div>
					<div
						class="card-content">{# diff widget #}
					</div>
				</div>
				<div
					class="card-footer">{# btn add #}
				</div>
				{# endform #}
			</div>
		</div>
		<h2>Les partenaires</h2>
		{% for key, partnership in partnerships %}
			{# {% for form in formPartnership %} #}
			{% block modal %}
				{% include "includes/_modal.html.twig" with {
					type: 'edit',
					title: 'Attention, modification en cours !', 
					content: 
						"<p class='modal-question'>Vous êtes sur le point de modifier l'admin : </p>" ~ 
						"<div class='content-admin-edit'>" ~ 
							"<p class='modal-recap edit-admin-email'></p>" ~ 
							"<p class='modal-recap edit-admin-password'></p>" ~ 
							"<p class='modal-recap edit-admin-roles'></p>" ~ 
						"</div>" ~ 
						"<p class='modal-question'>Êtes vous sur de vouloir le modifier ?</p>"
					, 
					options: {
						modifButton: true
					}
				} %}


				{% include "includes/_modal.html.twig" with {
					type: 'delete',
					title: 'Attention, suppression en cours !', 
					content: 
						"<p class='modal-question'>Vous êtes sur le point de supprimer l'admin : </p>" ~ 
						"<p class='modal-recap delete-admin-email'></p>" ~ 
						"<p class='modal-question'>Êtes vous sur de vouloir le supprimer ?</p>"
					, 
					options: {
						suppButton: true
					}
				} %}
			{% endblock %}
			<div class="card">
				{{ form_start(formPartnership[key]) }}
				{{ form_row(formPartnership[key].id, {'value': partnership.id} ) }}
				<div class="card-body">
					<div class="card-image">
						<img src="{{ asset('imagesTest/' ~ partnership.image) }}" alt="logo du partenaire">
						<br>
						{{ form_label(formPartnership[key].image) }}
						{{ form_widget(formPartnership[key].image)}}
						{# {{ form_row(formPartnership[key].image)}} #}
					</div>
					<div class="card-content">
						{{form_widget(formPartnership[key].name, {'value': partnership.name})}}
						<br>
						{{form_widget(formPartnership[key].description, {'value': partnership.description})}}
						<br>
						<div id="form-link">
							{{form_label(formPartnership[key].link)}}
							{{form_widget(formPartnership[key].link, {'value': partnership.link})}}
						</div>
						<br>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-edit btn-save" data-id={{partnership.id}}>Sauvegarder</button>
					<button class="btn btn-edit btn-actived">Modifier</button>
					<button class="btn btn-delete" data-id={{partnership.id}}>Supprimer</button>
				</div>
				{{ form_end(formPartnership[key]) }}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block request %}
	<script src="{{ asset('js/request/partnership.js') }}"></script>
{% endblock %}
