{% extends "backoffice-page.html.twig" %}

{% block title %}
	CSE - Gestion des Membres
{% endblock %}

{% block content %}
	<div id="member">
		{% for key, member in members %}
			<div class="card">
				{{ form_start(forms[key]) }}
				<div class="card-body">
					<div class="card-image">
						<img src="{{ asset('imagesTest/' ~ member.profil)}}" alt="{{ member.firstName }}">
						{{ form_label(forms[key].profil) }}
						{{ form_widget(forms[key].profil) }}
					</div>
					<div class="card-content">
						{{ form_widget(forms[key].firstName, { 'value': member.firstName }) }}
						{{ form_widget(forms[key].lastName, { 'value': member.lastName }) }}
						{{ form_widget(forms[key].function, { 'value': member.function }) }}
					</div>
				</div>
				<div class="card-footer">
					<button class='btn btn-edit btn-save'>Sauvegarder</button>
					<button class='btn btn-edit btn-actived'>Modifier</button>
					<button class='btn btn-delete'>Supprimer</button>
				</div>
				{{ form_end(forms[key]) }}
			</div>
		{% endfor %}
	</div>

	<script src="{{ asset('js/cardAnimation.js') }}"></script>
{% endblock %}
